<!DOCTYPE html>
<html lang="en">

<head>
    <title>Athelo Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first-->
    <script src="https://www.gstatic.com/firebasejs/7.18/firebase-app.js"></script>
    <!-- Add Firebase Auth service-->
    <script src="https://www.gstatic.com/firebasejs/7.18/firebase-auth.js"></script>
    <script src="../static/js/config.js"></script>
    <link href="../static/css/colors.css" rel="stylesheet">
    <link href="../static/css/nav.css" rel="stylesheet">
    <script src="../static/js/firebase_auth.js"></script>
    <link rel="icon"
        href="https://images.squarespace-cdn.com/content/v1/6001010b0b53fb47a674a59b/1613272769404-PLOO64FFEVEB0Y5MN1ZN/favicon.ico?format=100w">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>

    <!-- <nav class="navbar bg-body-tertiary"> -->


    <nav class="navbar navbar-dark darkPurple fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Athelo Admin</a>
            <button class=" navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark darkPurple" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Athelo Admin</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/video">Video Appointments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/images">Image Upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/dev">Dev Tools</a>
                        </li>
                    </ul>

                    <div class="d-grid gap-2 p-5">
                        <button class="btn btn-secondary" id="authButton" onclick="authButtonClick"></button>
                    </div>

                </div>
            </div>
        </div>
    </nav>
    <!-- The surrounding HTML is left untouched by FirebaseUI.
         Your app may use that space for branding, controls and other customizations.-->

    <main class="container">
        <div class="bg-body-tertiary p-5 rounded">
            <h1>Video Appointments</h1>
            <p class="lead">Access your upcoming appointments and join video calls.</p>
            <a class="btn btn-lg btn-primary" href="/video" role="button">Video Appointments »</a>
        </div>
        <div class="bg-body-tertiary p-5 rounded">
            <h1>Test Image Upload</h1>
            <p class="lead">Upload jpg or png fields to google cloud storage.</p>
            <a class="btn btn-lg btn-primary" href="/images" role="button">Upload images »</a>
        </div>
        <div class="bg-body-tertiary p-5 rounded">
            <h1>Dev Tools</h1>
            <p class="lead">Get a JWT for postman and test public or private endpoints. </p>
            <a class="btn btn-lg btn-primary" href="/dev" role="button">Dev Tools »</a>
        </div>

    </main>
</body>

</html>